* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #181a20;
  padding-inline: 2rem;
}
#header {
  display: flex;
  background-color: #181a20;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 5%;
}
.logo img {
  width: 100%;
}
#menu {
  list-style-type: none;
  display: flex;
  color: white;
  width: 80%;
}
#menu li a {
  margin-inline: 0.7rem;
  transition: 0.2s;
  font-size: 1.2rem;
}
#menu li a {
  color: white;
  text-decoration: none;
}
#menu li:hover {
  cursor: pointer;
  color: #f0b90b;
}
.language-select {
  width: 5%;
}
.language-select:hover {
  cursor: pointer;
}
.language-select img {
  width: 50%;
}
#menu-btn {
  display: none;
}
#close-btn {
  display: none;
}
@media (max-width: 1100px) {
  * {
    margin: 0;
    padding: 0;
  }
  #menu {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #menu li {
    text-align: start;
    margin: 0;
    font-size: 1.2rem;
    margin-block: 0.2rem;
  }
  .logo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    width: 80%;
  }
  #languageSelect {
    display: none;
  }
  #menu-btn {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #menu-btn img {
    width: 50%;
  }
  #menu #close-btn {
    display: block;
    color: white;
    font-size: 2rem;
    text-align: center;
  }
  #header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #menu {
    width: 20%;
    align-items: center;
    justify-content: center;
  }
  #menu li {
    width: 100%;
    text-align: start;
  }
}
/* -------------------- */
main {
  display: flex;
  flex-direction: column;
  margin-block: 8rem;
  align-items: center;
  justify-content: center;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.hero-box h1 {
  color: white;
  text-align: start;
  width: 65%;
  font-size: 3.5rem;
  line-height: 5rem;
  text-transform: capitalize;
}
.hero-box h2 {
  color: white;
  text-align: start;
  font-size: 2rem;
  width: 65%;
}
#gold {
  color: #f0b90b;
}
.hero-box img {
  width: 90%;
  margin-right: 10%;
}
.cta {
  width: 40%;
  margin-right: 25%;
  text-align: start;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #f0b90b;
  border: solid 1px #f0b90b;
  margin-top: 1rem;
}
.cta a {
  text-decoration: none;
  color: black;
}
.cta:hover {
  cursor: pointer;
}
@media (max-width: 1100px) {
  main {
    margin-block: 4rem;
  }
  .hero {
    flex-direction: column;
  }
  .hero-box {
    width: 100%;
  }
  .hero-box h1 {
    width: 100%;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: start;
  }
  .hero-box h2 {
    width: 100%;
    margin-block: 2rem;
  }
  .cta {
    align-self: baseline;
    width: 80%;
    margin-right: 0;
    margin-block: 2rem;
  }
}
/* ------------------ */

.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 8rem;
  width: 100%;
}
.offer-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.offer-box-service {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
}
.offer-box h1 {
  color: white;
  text-align: start;
  width: 65%;
  font-size: 3.5rem;
  line-height: 5rem;
  text-transform: capitalize;
}
.offer-box-service h1 {
  color: white;
  text-align: start;
  width: 65%;
  font-size: 3.5rem;
  line-height: 5rem;
  text-transform: capitalize;
}
.offer-box h3 {
  color: white;
  text-align: start;
  font-size: 1.5rem;
  width: 65%;
}
.offer-box-service h3 {
  color: white;
  text-align: start;
  font-size: 1.5rem;
}
.service-box {
  display: flex;
  flex-direction: column;
  background-color: #1e2329;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-inline: 1rem;
  border-radius: 20px;
  width: 33%;
}
.service-box img {
  width: 20%;
  padding-block: 0.8rem;
}
.offer-box-service-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1100px) {
  .offer {
    flex-direction: column;
    margin-block: 4rem;
  }
  .offer-box {
    width: 100%;
  }
  .offer-box h1 {
    width: 100%;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .offer-box-service h1 {
    width: 100%;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .offer-box h3 {
    width: 100%;
    margin-block: 2rem;
  }
  .service-box {
    margin-inline: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    height: 150px;
    width: 100%;
  }
  .service-box img {
    width: 50px;
  }
  .service-box h3 {
    font-size: 0.8rem;
  }
  .offer-box-service-wrapper {
    width: 100%;
  }
  .offer-box-service {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e2329;
    border-radius: 20px;
  }
}
/* --------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
/* -------------- */
.language-select {
  position: relative;
  display: inline-block;
}

.language-options {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.language-options li {
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.language-options li:hover {
  background-color: #f0f0f0;
}
/* --------------------------- */
.change {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 8rem;
  width: 100%;
}

.change-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.change-box h1 {
  color: white;
  text-align: start;
  width: 65%;
  font-size: 3.5rem;
  line-height: 5rem;
  text-transform: capitalize;
}

.change-box h3 {
  color: white;
  text-align: start;
  font-size: 1.5rem;
  width: 65%;
}

.stat-box {
  display: flex;
  justify-content: center;
  background-color: #1e2329;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-block: 0.8rem;
  width: 70%;
}

.stat-box:hover {
  cursor: pointer;
  opacity: 0.8;
}

.stat-box h2 {
  color: white;
  text-align: start;
  font-size: 1.2rem;
  width: 65%;
}

.stat-box img {
  width: 10%;
  margin-inline: 3rem;
}

.animate-bounce {
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media (max-width: 1100px) {
  .change {
    flex-direction: column;
  }
  .change-box {
    width: 100%;
  }
  .change-box h1 {
    width: 100%;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .change-box h3 {
    width: 100%;
    margin-block: 2rem;
  }
  .stat-box {
    width: 100%;
    padding-block: 0.5rem;
  }
  .stat-box h2 {
    font-size: 0.8rem;
  }
  .stat-box img {
    width: 15%;
  }
}
/* -------------------- */
.package {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 8rem;
  width: 100%;
}
.package-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.package-box h1 {
  color: white;
  text-align: start;
  width: 65%;
  font-size: 3.5rem;
  line-height: 5rem;
  text-transform: capitalize;
}
.package-box h3 {
  color: white;
  text-align: start;
  font-size: 1.5rem;
  width: 65%;
}
.package-box-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1e2329;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-block: 0.8rem;
  width: 70%;
}
.package-intro-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: solid 2px white;
  padding-block: 0.5rem;
}
.package-intro-box:hover {
  cursor: pointer;
  opacity: 0.8;
}
.package-intro-box h2 {
  color: white;
  text-align: start;
  font-size: 1.2rem;
  width: 90%;
  text-align: center;
  margin-right: 5%;
}
.package-intro-box img {
  width: 8%;
  margin-left: 5%;
}
.package-desc-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.package-desc-box li {
  color: white;
  text-align: start;
  width: 90%;
  margin-bottom: 1rem;
}
.package-desc-box p {
  color: white;
  text-align: start;
  width: 90%;
  margin-inline: 5%;
}
.package-desc-box h3 {
  color: white;
  text-align: start;
  width: 90%;
}
.package-info-box {
  display: flex;
  border-top: solid 2px white;
}
.package-info-box-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 5%;
}
@media (max-width: 1100px) {
  .change {
    flex-direction: column;
  }
  .change-box {
    width: 100%;
  }
  .change-box h1 {
    width: 100%;
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .change-box h3 {
    width: 100%;
    margin-block: 2rem;
  }
  .stat-box {
    width: 100%;
    padding-block: 0.5rem;
  }
  .stat-box h2 {
    font-size: 0.8rem;
  }
  .stat-box img {
    width: 15%;
  }
}
/* --------------- */
.infos {
  display: flex;
  width: 100%;
  margin-block: 8rem;
}
.infos-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.infos-text h1 {
  color: white;
  text-align: start;
  width: 65%;
  font-size: 3.5rem;
  line-height: 5rem;
  text-transform: capitalize;
}
.infos-text h3 {
  color: white;
  text-align: start;
  font-size: 1.5rem;
  width: 65%;
}
.infos-graphics {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.infos-box {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 1rem;
}
.infos-box h2 {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 4rem;
}
.infos-box img {
  width: 25%;
  margin-inline: 37.5%;
  align-self: center;
}
@media (max-width: 1100px) {
  .infos {
    flex-direction: column;
  }
  .infos-text {
    width: 100%;
  }
  .infos-text h1 {
    width: 100%;
  }
  .infos-text h3 {
    width: 100%;
    margin-block: 2rem;
  }
  .infos-graphics {
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    margin-block: 2rem;
  }
  .infos-box {
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-inline: 1rem;
  }
  .infos-box h2 {
    margin-block: 2rem;
    font-size: 1rem;
  }
  .infos-box img {
    width: 70%;
    margin-inline: 15%;
  }
}
/* --------------------------- */
@media (max-width: 1100px) {
  .package {
    flex-direction: column;
  }
  .package-box {
    width: 100%;
    margin-block: 2rem;
  }
  .package-box h1 {
    width: 100%;
  }
  .package-box h3 {
    width: 100%;
    margin-block: 2rem;
  }
  .package-box-box {
    width: 100%;
  }
  .package-intro-box {
    padding-block: 1rem;
  }
  .package-desc-box p {
    padding-block: 1rem;
  }
  .package-info-box {
    width: 100%;
    align-items: baseline;
    justify-content: center;
  }
  .package-info-box-1 {
    width: 100%;
  }
  .package-info-box li {
    text-align: start;
    margin-block: 1rem;
    width: 100%;
  }
  .package-info-box-1 h3 {
    width: 100%;
    text-align: center;
  }
}
/* ------------------ */
.workflow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 8rem;
}
.workflow h1 {
  color: white;
  text-align: center;
  width: 100%;
  font-size: 3.5rem;
}
.workflow h3 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
}
#canva-mobile {
  display: none;
}
@media (max-width: 1100px) {
  #canva-mobile {
    display: block;
  }
  .workflow img {
    width: 90%;
    margin-inline: 5%;
  }
  #canva {
    display: none;
  }
  .workflow h1 {
    text-align: start;
  }
  .workflow h3 {
    text-align: start;
    width: 100%;
    margin-block: 2rem;
  }
}
/* -------------------- */
.success {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 4rem;
  width: 100%;
}
.success-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.success h1 {
  color: white;
  text-align: center;
  width: 100%;
  font-size: 3.5rem;
}
.success h3 {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  width: 50%;
}

#green {
  color: #0ecb81;
}
#red {
  color: #f6465d;
}

.success-box h1 {
  color: white;
  text-align: center;
  width: 100%;
  font-size: 3.5rem;
  line-height: 5rem;
  text-transform: capitalize;
}
.success-box-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1e2329;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  width: 50%;
  padding-inline: 1rem;
}
.success-box-box p {
  color: white;
  text-align: start;
  font-size: 1.2rem;
  width: 100%;
}
.success-box-box ul {
  width: 100%;
}
.success-box-box li {
  color: #0ecb81;
  font-size: 1.2rem;
  text-align: start;
}
/* Dodajemo animaciju za padanje */
/* Dodajemo tranziciju za glatko padanje i vraćanje */
.success-box {
  transition: transform 0.3s ease;
}

/* Dodajemo animaciju za padanje */
@keyframes fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(
      20px
    ); /* Promenite vrednost ako želite veći ili manji efekat padanja */
  }
}

/* Primena animacije na hover */
.success-box-box:hover {
  animation: fall 0.2s ease forwards;
}
@media (max-width: 1100px) {
  .success {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .success h1 {
    font-size: 2.5rem;
  }
  .success-box-box {
    width: 80%;
    padding-inline: 2rem;
    margin-block: 4rem;
    padding-block: 1rem;
  }
  .success-box-box p {
    font-size: 1rem;
    margin-block: 0.5rem;
  }
  .success-box-box li {
    font-size: 1rem;
  }
}
/* -------------------- */
.final-cta {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block: 4rem;
  align-items: center;
  justify-content: center;
}
.last-cta-btn:hover {
  cursor: pointer;
}
.final-cta h1 {
  color: white;
  font-size: 3.5rem;
  text-transform: capitalize;
}
.final-cta h3 {
  color: white;
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
}
.last-cta-btn {
  width: 20%;
  margin-inline: 40%;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #f0b90b;
  border: solid 1px #f0b90b;
  margin-top: 2rem;
  animation: pulse 1.5s infinite; /* Apply the pulse animation */
}
.last-cta-btn a {
  text-decoration: none;
  color: black;
}
@keyframes pulse {
  0% {
    transform: scale(1); /* Initial size */
  }
  50% {
    transform: scale(1.1); /* Scale up */
  }
  100% {
    transform: scale(1); /* Return to initial size */
  }
}
/* ------------------ */
@media (max-width: 1100px) {
  .final-cta h1 {
    font-size: 2.5rem;
    text-align: center;
  }
  .final-cta h3 {
    text-align: start;
    width: 85%;
    margin-block: 2rem;
  }
  .last-cta-btn {
    width: 80%;
  }
}
